<h1>Upload File</h1>

{# <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}"> #}

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>